# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.


/BM-723 _Business research method/Assignments
/BM-727_Project Management/Assignments

/CS-716_Advanced NN/Assignments
/CS-718_CV/Assignments
